/* The UI of RTM has changed, so all the styles broke. This darkens, 
 * swaps the font for Droid Sans, removes the cow, and puts a few 
 * keyboard shortcuts back in. Should preserve font-rendered icons 
 * and priority coloration. */

/* By Steven Saus, under a CC BY-NC license */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.rememberthemilk.com") {
.b-Vj-xd-or::after {
	white-space: pre;
	content:"Due: (d) | Recur: (f) \A Duration: (g) | Tags: (s) \A Location: (l) | Url(u) \A Notes: (y)";}
	
	* { background-color: #222;
    color: #999 !important;
    box-shadow: none !important;
		border-top-color: #8c8cbc !important;
		border-bottom-color:#8c8cbc !important;
		border-left-color: #8c8cbc	 !important;
		border-right-color: #8c8cbc !important;
		font-family: 'Droid Sans',Helvetica,Arial,'Apple Color Emoji',clean,sans-serif !important;
	}
body {background-color: #222 !important}
/* loading page */
	.b-Ij-rn {
		background-color: #222 !important;
	}
	
/* for the widgets */	
	.b-f-l {
		font-family: FontAwesome !important;
		background:none;
		color: #999 !important;
	}
	.a-pb,.a-nB,.a-yd,.a-Lc,.a {
		font-family: FontAwesome !important;
	}
	
	/* remove cow */
.b-rl-Fm	{ background-image:none !important;}

/* multiple completed */
	.b-Sl, .b-yn-xd {
		background-color: #222 !important;
	}
	
/* widen importance labels */
	.b-eb-Uk-Ll {min-width:5px !important;}

	/* make scrollbar always visible */
	div.b-eo { opacity: 1 !important;}
	
	/* tag label text */
	.b-f-m-n-o-Tl > a:nth-child(1),.Nj-so-Rm,
	.b-eb-Uk-o,.zl-Uk-Co,.b-f-m-n-o-Tl {  background-color: #73a341 !important; color: black !important;}
		
	.b-eb-be-To-B { border-top: none !important;}	
	
	
/*background of sidebar, etc*/
	.b-Vj-xd,.b-h-e,.Nj-Oj-i,
	.b-Sl,.b-In-xd,	.b-rl, .b-Pj,.b-Hl, .b-eb, .b-Wk-eb,
	.b-Pj-i,.b-zr-Ar,.b-Hl-n-km,.b-Hl-n-gr-hr,.b-eb-Uk,.b-eb-be-To-B,
	.b-xd .Nj-Hn.Nj-Hn-hl, .b-Vj-xd .Nj-Hn.Nj-Hn-hl, .b-yn-xd .Nj-Hn.Nj-Hn-hl, .b-In-xd .Nj-Hn.Nj-Hn-hl, .b-Sl .Nj-Hn.Nj-Hn-hl
	
	{ background: #222;
	background-image: none !important;}
	
}