@-moz-document regexp("https://contacts.google.com/*") {
/* There are a lot more static elements now; the main thing I wanted to
 * do was to be able to scroll the contact card and make it a tiny bit
 * more compact */

.nCCa6e.G-q {
position: relative !important; }

.G2RIEb {
position: relative !important; }



.gAGAfb 
{
margin-bottom: 5px !important;
padding-bottom: 5px !important; }

.G-q-B {
line-height: 1em !important;}