@-moz-document regexp("https://www.google.com/contacts.*") {
/* Main grid. */
.dqpCVe .K9ln3e,
.dqpCVe .rfza3e {
  height: 23px !important; /* 39px; */
}

/* Star cell. */
td.cnYuxb {
  padding-top: 2px !important; /* 11px; */
  padding-bottom: 2px !important; /* 9px; */
}

/* Sidebar (category list). */
.cPAfuf {
  padding-top: 1px !important; /* 6px; */
  padding-bottom: 1px !important; /* 6px; */
}

/* Container for the main area. */
.VP5otc-pzeoBf {
  margin-top: 4px !important; /* 9px; */
  padding-bottom: 9px !important; /* 14px; */
}

/* Div containing red "Contacts", right above the red "New contact" button. */
.JvwNte {
  padding-top: 6px !important; /* 9px; */
  padding-bottom: 11px !important; /* 29px; */
}

/* Div containing red "New contact" button. */
.xLRFCe {
  padding-bottom: 8px !important; /* 14px; */
}
}