/* used in conjunction with A Bit Better RTM */
/* https://addons.mozilla.org/en-US/firefox/addon/a-bit-better-rtm/?src=cb-dl-toprated */
/* https://chrome.google.com/webstore/detail/a-bit-better-rtm/glcdefibajbglmeelclffdbakgjjjopc?hl=en */
/* Largely sourced from RTM++  */
/* By Kylir Horton */
/* https://userstyles.org/styles/31340/rtm */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.rememberthemilk.com") {
.tasktag,.locationtag { font-size:14px !important; }
.level11 { font-weight:bold;  }
.locationtag { color:#aa0000; }
#listsearchfor { display:none; }
#onlinehelpwrap { display:none; }
input#listFilter { width:500px !important; }
#searchtogglewrap { width:inherit !important; }
#datetime { display:none; }
#searchboxwrap { background:#fff; }
#appheaderlogo { display:none !important; }

/* Widening display with percentages */
#content {width:95% !important;}
#taskcloudcontent {width:15% !important;}
#detailsbox {width: 23% !important; min-width:275px !important}
#listbox {width: 65% !important;}
#list {width: 100% !important;}

#statusbox { width:525px !important; margin:0 !important; padding:0 !important; height:inherit !important; position:absolute !important; top:38px !important; width:525px !important; }


/* Adjusting for keyboard shortcuts - */ 
/* https://userstyles.org/styles/1623/remember-the-milk-display-keyboard-shortcuts */ 

#tasksToolbox { padding-bottom: 17px;}

/* From https://userstyles.org/styles/6817/remember-the-milk-blacken-and-enlarge by WCityMike */

	.xtd_task_name, .xtd_tag {font-size:1.12em !important;}
	.xtd_task_name { color:black !important; }

}