@-moz-document url-prefix("https://plus.google.com"), domain("plus.google.com") {

/* note:  changed some of the bits to percentages, which works well with my setup */

 /* removing decorative elements instead of resizing them  when getting wider posts */
div[class*="wl"] , div [class*="Uda"]
{   display: none !important; }


/*edit this number below to full content even wider (or less wide) */
he {  width:82% !important;padding: 5px !important }  
VW.Bn,div[class*="bsa"] {  width: 82% !important }  
div[class*="pga"],div[class*="pca"] {   width: 100% !important }
/* end expands content to fill pane */
  
/*edit this number below to columns even wider (or less wide) */
div[class*="am"]  {   width: 48% !important;  }
/* end expands content to fill pane */

  
div[dir="ltr"] /*the plus counter was changed to red.. urg, my eyes are bleeding! changed back to smooth blue*/
{ 
  color: rgb(51, 102, 204) !important;
}

/* removing trending and "people you may know" */
div[cat] , div.hxa.a-f-e
{   display: none !important; }
div[cat] , div[componentid]  
{   display: none !important; }
/* end removing trending and "people you may know" */

div#ozIdRtRibbonChatRoster , div.W1xc1  
{ 
  /*uncomment the next line to remove the chat, empty space stays because it's written in javascript. bleh*/
  /*display: none !important;*/
   width:20% !important;max-width: 260px !important; min-width: 200px !important; right: 0px !important; 
}



/* left command bar */

/* left here if you want to do something with the whole bar */
div[aria-label="Apps"] { }
div[navid="1"] {}

.Kta {  margin: 0 0 0 5% !important; }
.Zaa, .MHPMSc { width: 5% !important; min-width: 50px !important; }
/*end left command bar */


#contentPane /*the container IN the actual livefeed itself - the circle chooser and the settings button are in that container*/
{  width: auto !important; }

}
